<div class="topnav" id="myTopnav">
    <div class="topnav-inner">
<!--        <span class="menu" onclick="openNav()()">&#9776; Menu </span>-->
<!--        <span>Teste</span>-->
        <a href="/habemus">Habemus Container</a>
<!--        <a href="#news">News</a>-->
<!--        <a href="#contact">Contact</a>-->
<!--        <a href="#about">About</a>-->

        <a href="javascript:void(0);" class="icon" onclick="openNav()">
            &#9776; Menu
        </a>
    </div>
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "285px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>